table,tr,td{
    background-color: LightGoldenRodYellow ;
    font-family: Verdana;
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-collapse: collapse;
 }
 nav ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: rgb(24, 45, 233);
    padding: 10px 30px;
    border: 2px solid #000;
    transition: 0.6s ease;
}


nav ul li a:hover{
    background-color: rgb(130, 196, 240);
    color: #fff;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: contents;
    width: 150px;
}

.container {
    padding: 35px;
}

h2 {
    color: rgb(20, 23, 24);
    margin-bottom: 20px;
}

.Button-Utama {
    border: 1px solid rgb(7, 7, 22);
    background: rgb(91, 155, 214);
    color: white;
    font-size: 16px;
    padding: 0.5em 1em 0.5em 1em;
}

.Button-Utama:hover {
    background:rgb(117, 198, 245);
}

 .h{
    border: 8px groove black;
    padding: 20px;
 }
 .posisi{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
 }
 body{
    background-image: url('im.jfif');
    background-repeat: no-repeat;
    background-size: 1400px auto;
 }